[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pyrebase = {file = "https://github.com/DuarteVonFaul/Pyrebase/archive/master.zip"}

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
