[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
requests = "*"
gcloud = "*"
oauth2client = "*"
requests-toolbelt = "*"
python-jwt = "*"
pycryptodome = "*"

[dev-packages]

[requires]
python_version = "3.10"
