@import url("https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

ul {
  list-style: none;
}

.container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container:before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, from(#fff0d6), color-stop(#fafafa), to(white));
  background: linear-gradient(#fff0d6, #fafafa, white);
  z-index: -1;
}

.container h1 {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  font-family: "Patua One", cursive;
}

.container img {
  width: 3.2rem;
  margin-right: 0.5rem;
}

.card {
  display: -ms-grid;
  display: grid;
  width: 80%;
  max-width: 40rem;
  height: 35rem;
  padding: 2rem;
  background-color: white;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 0 1rem #d6d6d6;
          box-shadow: 0 0 1rem #d6d6d6;
}

.card form {
  display: -ms-grid;
  display: grid;
}

.card form label {
  font-size: 2rem;
}

.button {
  height: 4rem;
  color: white;
  background-color: #fc6254;
  border: none;
  border-radius: 5rem;
  font-size: 2.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-transition: background-color 200ms, color 200ms;
  transition: background-color 200ms, color 200ms;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: scale(0.99, 0.95);
          transform: scale(0.99, 0.95);
}

.button:disabled {
  color: #dbdbdb;
  background-color: rgba(173, 57, 46, 0.993);
  -webkit-transition: background-color 200ms, color 200ms;
  transition: background-color 200ms, color 200ms;
}

.button:disabled:hover {
  cursor: default;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
}

.errorMessage {
  opacity: 0;
  visibility: hidden;
  color: #f71d45;
  position: relative;
  top: -1.5rem;
  left: 0;
  text-align: center;
  -webkit-transition: top 150ms, opacity 150ms;
  transition: top 150ms, opacity 150ms;
}

.errorMessage.showErrorMessage {
  opacity: 1;
  visibility: visible;
  top: 0;
  -webkit-transition: top 150ms, opacity 150ms;
  transition: top 150ms, opacity 150ms;
}

.inputField {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 90%;
      grid-template-columns: 10% 90%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-bottom: 2rem;
  border: 2px solid #5c5c5c;
  border-radius: 0.4rem;
  background-color: white;
}

.inputField input {
  padding-left: 0.5rem;
  font-size: 1.6rem;
  border: none;
  outline: none;
}

.inputField i {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  color: #5c5c5c;
}

.cardFooter {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 2rem;
}

.cardFooter a {
  margin-left: 0.5rem;
  text-decoration: none;
}

#char_creator .container {
  background: white;
}

#char_creator .charImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 60%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}

#char_creator .charImg :first-child {
  width: 70%;
  height: 100%;
}

#char_creator .cardSlider {
  width: 37.5rem;
  height: 81.2rem;
  position: relative;
  overflow: hidden;
  border: 1px solid red;
}

#char_creator .cards {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (81.2rem)[4];
      grid-template-rows: repeat(4, 81.2rem);
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#char_creator .cards .cardItem {
  height: 100%;
}

#char_creator .cards .cardItem h3 {
  font-size: 3rem;
  font-weight: 400;
}

#char_creator .cards .cardItem .errorMessage {
  opacity: 0;
  visibility: hidden;
  position: relative;
  top: -3rem;
  -webkit-transition: all 150ms;
  transition: all 150ms;
}

#char_creator .cards .cardItem .inputField {
  width: 80%;
  height: 20%;
}

#char_creator .cards .cardItem .slider {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  height: 35%;
  margin-top: 5rem;
  position: relative;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#char_creator .cards .cardItem .slider input[type=radio] {
  display: none;
}

#char_creator .cards .cardItem .slider label {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 2rem;
  cursor: pointer;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.4s ease, -webkit-filter 0.4s ease, -webkit-box-shadow 1s ease;
  transition: -webkit-transform 0.4s ease, -webkit-filter 0.4s ease, -webkit-box-shadow 1s ease;
  transition: transform 0.4s ease, filter 0.4s ease, box-shadow 1s ease;
  transition: transform 0.4s ease, filter 0.4s ease, box-shadow 1s ease, -webkit-transform 0.4s ease, -webkit-filter 0.4s ease, -webkit-box-shadow 1s ease;
}

#char_creator .cards .cardItem .slider label img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#char_creator .cards .cardItem .sliderDescription {
  opacity: 0;
  visibility: hidden;
  width: 70%;
  height: 30%;
  margin-top: 7rem;
  position: relative;
  top: -4%;
  left: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  text-align: justify;
  text-justify: inter-word;
}

#char_creator .cards .cardItem .sliderDescription.showSlider {
  opacity: 1;
  visibility: visible;
  top: 0;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#char_creator .cards .cardItem .sliderDescription h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

#char_creator .cards .cardItem .sliderDescription p {
  -webkit-transition: all 350ms;
  transition: all 350ms;
  text-indent: 2rem;
}

#char_creator .cards .cardItem#nameSection {
  display: -ms-grid;
  display: grid;
  padding-top: 5rem;
}

#char_creator .cards .cardItem#nameSection .titleImg {
  width: 80%;
  height: 15%;
  max-width: 37.5rem;
  margin-inline: auto;
  justify-self: baseline;
}

#char_creator .cards .cardItem#nameSection .titleImg h2 {
  position: relative;
  top: -1rem;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

#char_creator .cards .cardItem#nameSection .titleImg img {
  width: 100%;
  margin-inline: auto;
}

#char_creator .cards .cardItem#nameSection .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 1%;
  margin-inline: auto;
  justify-self: center;
}

#char_creator .cards .cardItem#nameSection .content p {
  width: 70%;
  height: auto;
  color: gray;
  font-size: 1.2rem;
  text-align: center;
}

#char_creator .cards .cardItem#nameSection .content input {
  width: 95%;
  height: auto;
  margin-block: 4.5rem 1rem;
  font-size: 2rem;
  text-align: center;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
}

#char_creator .cards .cardItem#raceSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5rem;
}

#char_creator .cards .cardItem#raceSection h3 {
  margin-bottom: 3rem;
}

#char_creator .cards .cardItem#raceSection .slider label[for=r1] {
  -webkit-box-shadow: 0 0 16px red;
          box-shadow: 0 0 16px red;
}

#char_creator .cards .cardItem#raceSection .slider label[for=r2] {
  -webkit-box-shadow: 0 0 16px #00c900;
          box-shadow: 0 0 16px #00c900;
}

#char_creator .cards .cardItem#raceSection .slider label[for=r3] {
  -webkit-box-shadow: 0 0 16px #a8bb00;
          box-shadow: 0 0 16px #a8bb00;
}

#char_creator .cards .cardItem#raceSection .slider label[for=r4] {
  -webkit-box-shadow: 0 0 16px #aa0080;
          box-shadow: 0 0 16px #aa0080;
}

#char_creator .cards .cardItem#raceSection .slider #r1:checked ~ #race4,
#char_creator .cards .cardItem#raceSection .slider #r2:checked ~ #race1,
#char_creator .cards .cardItem#raceSection .slider #r3:checked ~ #race2,
#char_creator .cards .cardItem#raceSection .slider #r4:checked ~ #race3 {
  -webkit-filter: blur(0.08rem);
          filter: blur(0.08rem);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(80%, -15%, -100px);
          transform: translate3d(80%, -15%, -100px);
}

#char_creator .cards .cardItem#raceSection .slider #r1:checked ~ #race1,
#char_creator .cards .cardItem#raceSection .slider #r2:checked ~ #race2,
#char_creator .cards .cardItem#raceSection .slider #r3:checked ~ #race3,
#char_creator .cards .cardItem#raceSection .slider #r4:checked ~ #race4 {
  -webkit-transform: translate3d(0, 15%, 0);
          transform: translate3d(0, 15%, 0);
}

#char_creator .cards .cardItem#raceSection .slider #r1:checked ~ #race2,
#char_creator .cards .cardItem#raceSection .slider #r2:checked ~ #race3,
#char_creator .cards .cardItem#raceSection .slider #r3:checked ~ #race4,
#char_creator .cards .cardItem#raceSection .slider #r4:checked ~ #race1 {
  -webkit-filter: blur(0.08rem);
          filter: blur(0.08rem);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(-80%, -15%, -100px);
          transform: translate3d(-80%, -15%, -100px);
}

#char_creator .cards .cardItem#raceSection .slider #r1:checked ~ #race3,
#char_creator .cards .cardItem#raceSection .slider #r2:checked ~ #race4,
#char_creator .cards .cardItem#raceSection .slider #r3:checked ~ #race1,
#char_creator .cards .cardItem#raceSection .slider #r4:checked ~ #race2 {
  -webkit-filter: blur(0.08rem) grayscale(50%);
          filter: blur(0.08rem) grayscale(50%);
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transform: translate3d(0%, -35%, -150px);
          transform: translate3d(0%, -35%, -150px);
}

#char_creator button {
  width: 4rem;
  height: 4rem;
  color: black;
  font-size: 5rem;
  border: none;
  background: none;
  -webkit-transition: all 250ms;
  transition: all 250ms;
}

#char_creator button:hover {
  cursor: pointer;
}

#char_creator .prevButton {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#char_creator .nextButton {
  opacity: 1;
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  bottom: 0%;
  left: 50%;
  z-index: 3;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
}

#char_creator .hideButton {
  top: -20%;
}
/*# sourceMappingURL=style.css.map */