// Imports
@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Source+Sans+Pro:wght@400;700&display=swap');
@import "./_mixins.scss";
@import "./functions";

// Variables declaration
// Color compose
$p-color: hsl(38, 100%, 92%);

$s-color: hsl(0, 0%, 98%);
$s-ligth: hsl(0, 0%, 100%);
$s-dark: hsl(36, 23%, 74%);

$c-error-msg: hsl(349, 93%, 54%);
$c-input-btn: hsl(5, 97%, 66%);
$c-input-btn-disabled: hsla(5, 58%, 43%, 0.993);
$c-box-shadow: hsl(0, 0%, 84%);
$c-input-field-border: hsl(0, 0%, 36%);

// Font styles 
$font-normal: 'Source Sans Pro', sans-serif;
$font-display: 'Patua One', cursive;

// General styles 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: percentage(0.625);
}

html,
body {
    @include fullSize;
}

body {
    font: $font-normal;
    font-size: toRem(16);
}

ul {
    list-style: none;
}

// General container style
.container {
    @include fullSize;
    @include flexOptions(center, center, column);

    &:before {
        @include fullSize;
        @include positionAbsolute;
        content: "";
        background: linear-gradient($p-color, $s-color, white);
        z-index: -1;
    }

    h1 {
        margin-bottom: toRem(30);
        text-align: center;
        font-size: toRem(40);
        letter-spacing: toRem(2);
        font-family: $font-display;
    }

    img {
        width: toRem(32);
        margin-right: toRem(5);
    }
}

// General card style
.card {
    display: grid;
    width: percentage($number: 0.8);
    max-width: toRem(400);
    height: toRem(350);
    padding: toRem(20);
    background-color: white;
    border-radius: toRem(4);
    box-shadow: 0 0 toRem(10) $c-box-shadow;

    form {
        display: grid;

        label {
            font-size: toRem(20);
        }
    }
}

// General button style
.button {
    height: toRem(40);

    color: white;
    background-color: $c-input-btn;

    border: none;
    border-radius: toRem(50);

    font-size: toRem(22);
    font-weight: 700;
    letter-spacing: toRem(1);
    font-family: $font-normal;

    transition: background-color 200ms, color 200ms;

    &:hover {
        cursor: pointer;
        transform: scale(0.99, 0.95);
    }

    &:disabled {
        color: hsl(0, 0%, 86%);
        background-color: $c-input-btn-disabled;

        transition: background-color 200ms, color 200ms;
    }

    &:disabled:hover {
        cursor: default;
        transform: scale(1, 1);
    }
}

// General errorMessage style
.errorMessage {
    @include hidden;
    color: $c-error-msg;
    position: relative;
    top: toRem(-15);
    left: 0;
    text-align: center;
    transition: top 150ms, opacity 150ms;

    &.showErrorMessage {
        @include visible;
        top: 0;
        transition: top 150ms, opacity 150ms;
    }
}

// General input field style
.inputField {
    @include gridOptions(10% 90%, 100%);
    margin-bottom: toRem(20);
    border: 2px solid $c-input-field-border;
    border-radius: toRem(4);

    background-color: white;

    input {
        padding-left: toRem(5);
        font-size: toRem(16);
        border: none;
        outline: none;
    }

    i {
        align-self: center;
        justify-self: center;
        color: $c-input-field-border;
    }
}

.cardFooter {
    align-self: flex-end;
    margin-bottom: toRem(20);

    a {
        margin-left: toRem(5);
        text-decoration: none;
    }
}

// Character Creator styles
#char_creator {
    .container {
        background: white;
    }

    .charImg {
        @include flexOptions(center, center, row);
        width: 100%;
        height: 60%;

        position: absolute;
        top: 0%;
        left: 0%;

        z-index: 2;

        :first-child {
            @include size(70%, 100%);
        }
    }

    .cardSlider {
        width: 37.5rem;
        height: 81.2rem;
        position: relative;
        overflow: hidden;
        border: 1px solid red
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-rows: repeat(4, 81.2rem);
        position: absolute;
        top: 0;
        left: 0;
        transition: all 250ms;

        .cardItem {
            height: 100%;

            h3 {
                font-size: 3rem;
                font-weight: 400;
            }

            .errorMessage {
                @include hidden;
                position: relative;
                top: -3rem;
                transition: all 150ms;
            }

            .inputField {
                @include size(80%, 20%);
            }

            .slider {
                user-select: none;
                @include flexOptions(center, center, row);
                @include size(80%, 35%);
                margin-top: 5rem;
                position: relative;
                perspective: 1000px;
                transform-style: preserve-3d;

                input[type=radio] {
                    display: none;
                }

                label {
                    @include size(100%, 100%);
                    position: absolute;
                    left: 0;
                    right: 0;
                    border-radius: 2rem;
                    cursor: pointer;
                    overflow: hidden;
                    transition: transform 0.4s ease, filter 0.4s ease, box-shadow 1s ease;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .sliderDescription {
                @include hidden;
                @include size(70%, 30%);
                margin-top: 7rem;
                position: relative;
                top: -4%;
                left: 0;
               
                transition: all 250ms;

                text-align: justify;
                text-justify: inter-word;

                &.showSlider {
                    @include visible;
                    top: 0;
                    transition: all 250ms;
                }

                h3 {
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 2rem;
                }

                p {
                    transition: all 350ms;
                    text-indent: 2rem;
                }
            }

            &#nameSection {
                display: grid;
                padding-top: 5rem;

                .titleImg {
                    @include size(80%, 15%);
                    max-width: 37.5rem;
                    margin-inline: auto;
                    justify-self: baseline;

                    h2 {
                        position: relative;
                        top: -1rem;
                        font-size: 2rem;
                        font-weight: 400;
                        text-align: center;
                    }

                    img {
                        width: 100%;
                        margin-inline: auto;
                    }
                }

                .content {
                    @include flexOptions(center, center, column);
                    @include size(100%, 1%);
                    margin-inline: auto;
                    justify-self: center;

                    p {
                        @include size(70%, auto);
                        color: gray;
                        font-size: 1.2rem;
                        text-align: center;
                    }

                    input {
                        @include size(95%, auto);
                        margin-block: 4.5rem 1rem;
                        font-size: 2rem;
                        text-align: center;
                        outline: none;
                        border: none;
                        border-bottom: 1px solid black;
                    }
                }
            }

            &#raceSection {
                @include flexOptions(center, baseline, column);
                padding-top: 5rem;

                h3 {
                    margin-bottom: 3rem;
                }

                .slider {
                    label {
                        &[for=r1] {
                            box-shadow: 0 0 16px red;
                        }

                        &[for=r2] {
                            box-shadow: 0 0 16px rgb(0, 201, 0);
                        }

                        &[for=r3] {
                            box-shadow: 0 0 16px rgb(168, 187, 0);
                        }

                        &[for=r4] {
                            box-shadow: 0 0 16px rgb(170, 0, 128);
                        }
                    }

                    #r1:checked~#race4,
                    #r2:checked~#race1,
                    #r3:checked~#race2,
                    #r4:checked~#race3 {
                        filter: blur(0.08rem);
                        box-shadow: none;
                        transform: translate3d(80%, -15%, -100px);
                    }

                    #r1:checked~#race1,
                    #r2:checked~#race2,
                    #r3:checked~#race3,
                    #r4:checked~#race4 {
                        transform: translate3d(0, 15%, 0);
                    }

                    #r1:checked~#race2,
                    #r2:checked~#race3,
                    #r3:checked~#race4,
                    #r4:checked~#race1 {
                        filter: blur(0.08rem);
                        box-shadow: none;
                        transform: translate3d(-80%, -15%, -100px);
                    }

                    #r1:checked~#race3,
                    #r2:checked~#race4,
                    #r3:checked~#race1,
                    #r4:checked~#race2 {
                        filter: blur(0.08rem) grayscale(50%);
                        box-shadow: none;
                        transform: translate3d(0%, -35%, -150px);
                    }
                }                
            }

            &#historicSection{


            }
        }
    }

    button {
        @include size(4rem, 4rem);
        color: black;
        font-size: 5rem;
        border: none;
        background: none;
        transition: all 250ms;

        &:hover {
            cursor: pointer;
        }
    }

    .prevButton {
        @include visible;
        @include flexOptions(center, center, row);
        position: absolute;
        top: 0%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, 0%);
    }

    .nextButton {
        @include visible;
        @include flexOptions(center, center, row);
        position: absolute;
        bottom: 0%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, 0%);
    }

    .hideButton {
        top: -20%;
    }
}