<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criação de personagem</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="char_creator">
    <div class="container">
        <div class="cardSlider">
            <ul class="cards">
               <li id="nameSection" class="cardItem">
                    <section class="titleImg">
                        <img src="../static/assets/logo_black.png" alt="drangon Age">
                        <h2>Criação de personagem</h2>
                    </section>
                    <section class="content">
                        <h3>Escolha um nome</h3>
                        <input type="text" name="charName" id="charName" placeholder="Erold da Floresta cinza">
                        <p>Como seu personagem ficará conhecido no mundo de DragonAge?</p>
                    </section>
                </li>  
                <li id="raceSection" class="cardItem">
                    <h3>Escolha uma raça</h3>
                    <section class="slider">
                        <input type="radio" name="charRace" id="r1" data-race="human" checked>
                        <input type="radio" name="charRace" id="r2" data-race="elf">
                        <input type="radio" name="charRace" id="r3" data-race="dwarf">
                        <input type="radio" name="charRace" id="r4" data-race="qunari">
                        <label for="r1" id="race1">
                            <img src="../static/assets/races_human.png" alt="">
                        </label>
                        <label for="r2" id="race2">
                            <img src="../static/assets/races_elf.png" alt="">
                        </label>
                        <label for="r3" id="race3">
                            <img src="../static/assets/races_dwarf.png" alt="">
                        </label>
                        <label for="r4" id="race4">
                            <img src="../static/assets/races_qunari.png" alt="">
                        </label>
                    </section>
                    <section class="sliderDescription"></section>
                </li>
                <li id="historicSection" class="cardItem">
                    <h3>Histórico</h3>
                    <section class="slider">

                    </section>
                    <section class="sliderDescription"></section>
                </li>
                <li class="cardItem">
                    <h3>Bunos</h3>
                </li>
            </ul>
            <button class="prevButton"><i class="fa-solid fa-angle-up"></i></button>
            <button class="nextButton"><i class="fa-solid fa-angle-down"></i></button>
        </div>

    </div>

    <script src="../static/js/char_creator.js" defer></script>
    <script src="https://kit.fontawesome.com/3797641237.js" crossorigin="anonymous"></script>
</body>

</html>