<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body id="signup" >
    <div class="container">
        <h1 class="h1Container">Se inscreva hoje no RPGprofile </h1>
        <div class="card">
            <form>
                <label for="inputEmail">Email:</label>
                <div class="inputField">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email"  name="inputEmail" id="inputEmail" placeholder="bruenor@exemple.com">
                </div>
                <label for="inputPassword">Senha:</label>
                <div class="inputField">
                    <i class="fa-solid fa-unlock"></i>
                    <input type="password" name="inputPassword" id="inputPassword" placeholder="bruenor123">
                </div>
                <p class="errorMessage">errorMessage</p>
                <input class="button" type="button" value="Inscrever-se" id="submitButton">
            </form>
            <div class="cardFooter">
                <p>Já possui conta? <a href="/login">Entrar</a></p>
            </div>
        </div>
    </div>

    <script defer src="../static/js/app.js"></script> 
    <script src="https://kit.fontawesome.com/3797641237.js" crossorigin="anonymous"></script>
</body>

</html>